
@{
    Layout = null;
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error 404</title>
</head>
<body>
    <div>
        @section header{
            Lỗi đường dẫn
        }
        <p class="alert-danger" style="font-size: 80px; text-align: center">Trang web không tồn tại </p>
        <img src="~/Assets/Common/Error404.jpg" width="400" style="margin-left: 50%; transform: translateX(-50%);"/>
    </div>
</body>
</html>
