
@{
    Layout = null;
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error 500</title>
</head>
<body>
    <div> 
        <p class="alert-danger" style="font-size: 80px; text-align: center">Trang web đang gặp sự cố</p>
        <img src="~/Assets/Common/Error500.jpg" width="400" style="margin-left: 50%; transform: translateX(-50%);" />
    </div>
</body>
</html>
