.status-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hidden-row{
    display: none;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
}