.container-image {
    position: relative;
    width: 300px;
    display: inline-block;
}

image {
    width: 100%;
    height: 100%;
}

.btn-delete-pro-img {
    position: absolute;
    top: 0;
    right: 0;
}

.tr-delete {
    background-color: #f6e58d !important;
}

.textbox-search{
    width: 75%;
}